.card{
    font-family: Arial, Helvetica, sans-serif;
    max-width: var(--card-width);
    min-width: var(--card-width);
    height: var(--card-height);
    max-height: var(--card-height);
    border: 2px solid #1c1c1c;
    border-radius: var(--card-radius);
    background-color: #f8f8f8;
    color: black;
    --tw-shadow-color: rgba(0,0,0,.5);
    /* border-top: 2px solid rgba(37, 47, 55, 0.85) ; */
    box-shadow: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color), inset 0 1px 0 0 hsla(0, 0%, 100%, .1);
}
    .card-content{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;;
        font-size: calc(4rem / var(--card-mult));
        height: 100%;
        overflow: hidden;
        position: relative;
    }
        .card-left-side, .card-right-side{
            
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            /* letter-spacing: -8px; */
            line-height: calc(var(--card-mult) / var(--card-mult));
        }

        .card-middle{
            font-size: calc(6rem / var(--card-mult));
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-items: center;
        }
            .left-signs, .center-signs, .right-signs{
                display: flex;
                flex-flow: column nowrap;
                height: 100%;
                justify-content: space-around;
                align-items: center;
            }

        .card-left-side{
            padding: calc(10px / var(--card-mult));
        }
        .card-left-side-sign, .card-right-side-sign{
            font-size: calc(5rem / var(--card-mult));
        }
        .card-right-side{
            padding: calc(10px / var(--card-mult));
            transform: scale(-1, -1);
        }

    .empty-card-space{
        width: calc(50px / var(--card-mult));
    }
